<h2>Your cart</h2>
<ul>
    <% session[:cart].each do |product| %>
        <li><%= product %></li>
    <% end %>
</ul>

<%= form_tag("/add", method: "post") do %>
  <%= label_tag(:product, "ADD ITEM: ") %>
  <%= text_field_tag(:product) %>
  <%= submit_tag("add to cart") %>
<% end %>